*{
    margin: 10px;
    border: 100px;
    padding: 10px;
}


header {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 125px;
}
img#uvv{
    width: 150px;
    border-radius: 50%;
    margin: 10px 15px 10px 15px;
}
img#hero {
    width: 350px;
    border-radius: 10%;
    margin: 10px 200px 10px 200px
}
img#stand1 {

    width: 400px;
    border-radius: 10%;
    margin: 10px 150px 10px 200px;
}
h4 {
    
    color: black;
}

body {
    background-color: whitesmoke;
}

nav{
background-color: whitesmoke;
margin-top: 50px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

h6 {
    color: green;
}

p{
    margin: 10px;
}